* {
    margin: 0%;
    padding: 0%;
}

.main {
    background-color: black;
    color: white;
    padding-bottom: 6.3em;
    width: 100%;
    height: 70vh;
}

.main_heading {
    padding-left: 2em;
    width: 40%;
}

.main_para {
    padding-left: 4.2em;
    width: 50%;
}

.main_profile {
    display: flex;
    align-items: right;
    width: 30%;
    left: 60%;
    top: 9%;
    position: absolute;

}

.main_profile img {
    width: 100%;
}

.main_profile svg{
    width: 00px;
}

img{
    padding-top: -10px;
    border: 1px solid white;
}

.main1 button {
    margin-left: 4em;
}


/* About */

.about {
    background-color: black;
    color: white;
    border-top: 1px solid #6665ee;
    padding: 1em;
    height: 70vh;
}

.about h2 {
    text-align: center;
    font-weight: 700;

}

.about h3,
p {
    padding-left: 1em;
    margin-top: 2%;
}

.ed{
    background-color: red;
    width: 50%;
    padding: 2%;
    margin: 2em;
}

/* Skills */

.skills{
    background-color: black;
    color: white;
}
.skills_head{
    text-align: center;
    padding: 1em;
    padding-top: 3em;
    border-top: 1px solid #6665ee;
}

.skills_bar {
    width: 90%;
    padding: 35px 40px;
    margin-left: 4em;
}

.skills_bar .bar {
    margin: 20px 0px;
}

.skills_bar .bar :first-child {
    margin-top: 0;
}

.skills_bar .bar .info span {
    font-size: 17px;
  
}


.skills_bar .bar .progress_line {
    height: 10px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    background-color: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0, 0.5),
        0px 1px rgba(225, 225, 225, 0.5);

    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
transform: scaleX(1);
    }
}

.bar .progress_line span {
    height: 100%;
    width: 80%;
    background-color: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress_line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #6665ee;
 
}

.progress_line span::after {
    position: absolute;
    right: 0;
    top: -33px;
    font-size: 12px;
    font-weight: 500;
    background-color: #6665ee;
    padding: 1px 8px;
    border-radius: 3px;
}


.progress_line.html span {
    width: 95%;
}

.progress_line.css span {
    width: 80%;
}

.progress_line.boot span {
    width: 85%;
}

.progress_line.flex span {
    width: 80%;
}

.progress_line.js span {
    width: 70%;
}

.progress_line.pwa span {
    width: 80%;
}

.progress_line.firebase span {
    width: 40%;
}

.progress_line.html span::after {
    content: "95%";
}

.progress_line.css span::after {
    content: "80%";
}

.progress_line.boot span::after {
    content: "85%";
}

.progress_line.flex span::after {
    content: "80%";
}

.progress_line.js span::after {
    content: "70%";
}

.progress_line.pwa span::after {
    content: "80%";
}

.progress_line.firebase span::after {
    content: "40%";
}

/* Buttons */

/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
/* From uiverse.io by @nikk7007 */
button {
    padding: 0.8em 1.8em;
    border: 2px solid #6665ee;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #6665ee;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: white;
}